In [1]:
import seaborn as sb
import pandas as pd
import matplotlib.pyplot as plt

coor_data = pd.read_csv('Data/coordata.csv')
date_data = pd.read_csv('Data/datedata.csv')
meta_data = pd.read_csv('Data/metadata.csv')
data_set = date_data.join(meta_data[['apartment','female_cnt','male_cnt','town_house','sing_famly','class']])
sb.set()
sb.pairplot(data_set,hue='start_day_of_week',size=2)
plt.show()

I:\Users\PC\anaconda3\envs\my_env\lib\site-packages\seaborn\axisgrid.py:1912: UserWarning: The `size` parameter has been renamed to `height`; please update your code.
  warnings.warn(msg, UserWarning)

In [4]:
date_data

       start_date  start_hour  start_day_of_week
0       7/15/2019           0                  1
1       7/15/2019           0                  1
2       7/15/2019           0                  1
3       7/15/2019           0                  1
4       7/15/2019           0                  1
...           ...         ...                ...
459473  9/27/2019          23                  5
459474  9/27/2019          23                  5
459475  9/27/2019          23                  5
459476  9/27/2019          23                  5
459477  9/27/2019          23                  5

[459478 rows x 3 columns]